#temp
*~
test-results

#bin
*.a
*.o
*.dtb
*.so
*.pyc
bin
lib
build
obj
Lib

#ide
*.kdev4
*.pidb
*.userprefs

#files
Emulator/Cores/translate/translators/include/config-host.h
Emulator/Cores/translate/translators/include/config-target.h
